<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>chapter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-img src="/assets/es/iPoel Emperor Sword 01 - 001.jpg"></ion-img>
    <ion-img src="/assets/es/iPoel Emperor Sword 01 - 002.jpg"></ion-img>
    <ion-img src="/assets/es/iPoel Emperor Sword 01 - 003.jpg"></ion-img>
    <ion-img src="/assets/es/iPoel Emperor Sword 01 - 004.jpg"></ion-img>
    <ion-img src="/assets/es/iPoel Emperor Sword 01 - 005.jpg"></ion-img>


</ion-content>
