.cardcont {
    background-size: cover; 
    background-image: url('../../assets/img/card2.jpg');
    width: 100%;
    height: 30%;
}

.judulkomik{
    color:white;
    text-shadow: 20%;
    font-size: 200%;
    font-family: 'BebasNeue';
}

.avatar{
    margin: 0%;
    width: 20%;
    height: 10%;
    border: 200px;
    border-color: antiquewhite;
    border-radius: 50%;
    float: left;
}

.deskripsi{
    color: white;
    margin:0.4%;
  }






@font-face {
    font-family: 'BebasNeue';
    src: url('../../assets/font/BebasNeue/BebasNeue.otf') format('truetype');
    
    }