<<<<<<< HEAD
.image {
    height: 20%; 
    width: 20%; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
} 
=======
>>>>>>> parent of edc1f33... buat bsk
