<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Komik KUCUK
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="cardcont" >
      <ion-card-header>
          <ion-card-title class="judulkomik">Sword Emperor</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
        <ion-col>
              <ion-img class="avatar"  src="assets/es/iPoel Emperor Sword 01 - 001.jpg"></ion-img> 
            <div class="deskripsi">
              <B>Anggap saja deskripsi</B>
            </div>
            </ion-col>   
      </ion-card-content>
    
    </ion-card>
  
      <ion-list (click)="gochapter()">
          <ion-item >
            <ion-avatar  slot="start">
              <ion-img src="/assets/es/iPoel Emperor Sword 01 - 003.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Malam Pertama</h2>
              <h3>Chapter 1</h3>
            </ion-label>
          </ion-item>
        </ion-list>
        
  

</ion-content>
