<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Komik KUCUK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager="true">
      <ion-slide >
        <ion-img width="80" height="40" src="assets/img/1.jpg"></ion-img>
      </ion-slide>
    
      <ion-slide>
        <ion-img width="80" height="40" src="assets/img/2.jpg"></ion-img>
      </ion-slide>
    
      <ion-slide>
        <ion-img width="80" height="40" src="assets/img/3.jpg"></ion-img>
      </ion-slide>
    </ion-slides>
    <ion-list>
      <ion-item (click)="golistchapter()">
        <ion-avatar slot="start">
          <ion-img src="assets/img/logo.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Hentai</h2>
          <h3>Chapter 5</h3>
          <p>netnot netnot ya netnot</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
